
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cycling - Yosoku Games</title>

    <!-- Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
</head>

<body>
    <section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <figure class="image container is-128x128 my-6">
                <img class="" src="/img/cycling-solo.svg" alt="Fantasy Cycling API">
            </figure>
            <h1 class="title">
                404
            </h1>
            <p>
                <a href="/" class="button is-link">Home &raquo;</a>
            </p>
        </div>
    </div>
</section>
</body>

</html>
